.page-container {
  width: 0;
  height: 100%;
  padding-left: 20px;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.page-container.opened {
  width: 300px;
}

.page-container > h2 {
  padding-top: 20px;
}
